@model DirectoryModel;
@using System.IO;
@{
    ViewData["Title"] = "Files";
}

<div class="text-center">
    Current Directory: [<code><a asp-action="Directory">@Model?.CurrentDirectory?.FullName</a></code>]
    @{
        if (Model is null)
            return;
        var files = Model.CurrentDirectory.EnumerateFiles();
        if (files is not null && files.Count() >= 1)
        {
            {<table class="table table-dark table-striped table-bordered table-hover">
                <thead>
                    <tr><th scope="col">File-path</th></tr>
                </thead>
                <tbody>@{
                        foreach (FileInfo file in files)
                        {
                            {<tr><td><div><code><a asp-action="">@file.Name</a></code></div></td></tr>}
                        }
                }</tbody>
            </table>}
        }

    }

</div>
