@model DirectoryModel;
@using System.IO;
@{
    ViewData["Title"] = "Files";
}

<div class="text-center">
    Current Directory: [<code><a asp-action="Directory">@Model?.CurrentDirectory?.FullName</a></code>]
    @{
        if (Model is null)
        {
            return;
        }

        Microsoft.Extensions.Primitives.StringValues ids;
        var files = Model.CurrentDirectory.EnumerateFiles();
        if (files is not null && (files.Count() >= 1))
        {
            {
                <div>Quantity of files: @files.Count()</div>
                <table class="table table-dark table-striped table-bordered table-hover">
                    <thead>
                        <tr><th scope="col">Filename</th></tr>
                    </thead>
                    <tbody>@{
                            foreach (FileInfo file in files)
                            {
                                {<tr><td><code><a asp-action="File" asp-route-id=@file.Name>@file.Name</a></code></td></tr>}
                            }
                    }</tbody>
                </table>
            }
        }
    }
</div>
