@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about this at <a href="https://github.com/l3oxy/MediaMetaDataManager" target="_blank">https://github.com/l3oxy/MediaMetaDataManager</a>.</p>
</div>
